{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container login">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Login</h3>

            <form method="POST">
                {% csrf_token %}
    
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{{ login_form.email|as_crispy_field }}</div>
                    <div class="col-md-4"></div>
            
                    
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{{ login_form.password|as_crispy_field }}</div>
                    <div class="col-md-4"></div>
             
                    
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2"> <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button></div>
                    <div class="col-md-5"></div>
                </div>
                {% for error in login_form.errors %}
                <p style="color:red">{{error}}</p>
                {% endfor %}
            </form>
        </div>
    </div>
</div>

       

{% endblock content %}
