<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    
    <a href="{% url 'create-case' %}">Create Case</a>
    <a href="{% url 'all-cases' %}">All Cases</a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'case-type' %}">Case Type</a>
    <a href="{% url 'courts' %}">Court</a>
    <a href="#">Police Station</a>
    <a href="#">About</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
  </div>