
{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Case Type</h2>
  <form method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-8">{{form.case_type|as_crispy_field}}</div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-3"><button type="submit" class="btn btn-primary">Create</button></div>
    </div>
    
  </form>

  <br>
  <br>
  <h2>Case Type List</h2>
  <div class="table-container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Case Type</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for case in casetypes %}
          <tr>
            <td>{{ case.case_type }}</td>
            <td><a href="/case-type/{{ case.id }}">Edit</a></td> <!-- Add an "Edit" button -->
          </tr>
        {% empty %}
          <tr>
            <td colspan="12">No cases found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
  </div>
</div>
  

{% endblock %}
