
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Courts</h1>
  <form method="post">
    {% csrf_token %}

    {{ form|crispy }}
    
    <button type="submit" class="btn btn-primary">Create</button>
  </form>

  <h1>Courts List</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Court</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for singlecourt in courts %}
          <tr>
            <td>{{ singlecourt.court }}</td>
            <td><a href="/courts/{{ singlecourt.id }}">Edit</a></td> <!-- Add an "Edit" button -->
          </tr>
        {% empty %}
          <tr>
            <td colspan="12">No cases found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
